@import "~bootstrap/scss/bootstrap";

.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

.ucfirst {
  text-transform: capitalize;
}

button.mockLink {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  display: inline;
  color: #0D6EFD;
  text-align: left;
  margin: 0;
  padding: 0;
}

.uc {
  text-transform: uppercase;
}

.name {
  font-weight: bold;
}

div#contacts_collection {
  height: 90vh;
  width: 100vw;

  div.contactCard {
    float: left;
    border: solid 2px #0f0;
    width: 30%;
    text-align: left;
    min-width: 300px;
    max-width: 500px;
    height: 230px;
    margin: 10px;
    border-radius: 10px;
    padding: 0px 5px 0px 5px;

    .deleteLink {
      float: right;
      cursor: pointer;
    }
  }
}

.mailingAddress {
  border: solid 1px #0f0;
}